{% extends "base.html" %}
{% block title %} Nánari upplýsingar stöðvar {% endblock %}
{% block content %}
    <h2>Nánari upplýsingar stöðvar</h2>
    {% for item in gogn['results'] %}
        {% if item.key == k %}
        <h3>Söluaðili: {{ item.name }}</h3>
        <h3>Staður: {{ item.name }}</h3>
        <h3>Verð á 1. lítra af bensín: {{ item.bensin95 }} </h3>
        <h3>Verð á 1. lítra af díselolíu: {{ item.diesel }}</h3>
        <div class="kort">
            <h4>Staðsetning bensínstöðvar</h4>
            <ul>
                <li>Breiddatgráða:</li>
                <li>Lengdargráða:</li>
                <li><a href="https://www.google.com/maps/@{{item.geo.lat}},{{item.geo.lon}},17z/">Staðsetning á google maps</a></li>
            </ul>
        </div> 
        {% endif %}
    {% endfor %}
{% endblock %}
